@media screen and (min-width:1024px) {
  [data-icon="favoritos"] {
    display: none;
  }
}

@media screen and (min-width:1728px) {
  .cabecalho__icons__item {
    display: flex;
    align-items: center;
    color: var(--color-preto);
    text-decoration: none;
    font-size: 2rem;
  }
  
  [data-icon="favoritos"] {
    display: none;
  }
}