.cadastro__email__input {
  border: none;
  padding: 10px 0;
  color: var(--color-azul);
}

.cadastro__email__input::placeholder {
  background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.cadastro__email__input:focus-visible {
  outline: none;
}