@media screen and (min-width:1024px) {
  .cadastro__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
  }
}

@media screen and (min-width:1728px) {
  .cadastro__container {
    width: 22%;
    gap: 0;
  }
}
