.cadastro__email {
  display: flex;
  flex-direction: row;
  margin-top: calc(2.4rem - 8px);
  width: 100%;
  border: 1px solid var(--color-azul);
  gap: 12px;
  border-radius: 24px;
}

@media screen and (min-width:1024px) {
  .cadastro__email {
    margin: 0;
    width: 30%;
  }
}

@media screen and (min-width:1728px) {
  .cadastro__email {
    width: 20%;
  }
}